Repository epispot/epispot-transition-v3, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, src, repo, workflows, issue templates, pull request

.github/labeler.yml:

tests:
  - tests/*

src:
  - epispot/*
  - bin/*
  - setup.py
  - README.md

repo:
  - .github/*

workflows:
  - .github/workflows
  - .github/labeler.yml

issue templates:
  - .github/ISSUE_TEMPLATES/*

pull request:
  - .github/pull_request_template.md

Update labels on Dependabot config
  .github/dependabot.yml
Labels: repo

Remove unnecessary workflows
  .github/workflows/claim.yml
  .github/workflows/greetings.yml
  .github/workflows/mod.yml
  .github/workflows/spellcheck.yml
Labels: none

First batch update Fix various things in the repository to transition from the old version of epispot
  .github/actions/spelling/allow.txt
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect.txt
  .github/actions/spelling/patterns.txt
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  CHANGELOG.md
  CONTRIBUTING.md
  DOCUMENTATION.md
  README.md
  SECURITY.md
  epispot/params.py
  epispot/plots/native.py
  explorables/README.md
  requirements/README.md
  scripts/build.sh
Labels: src

Second batch update Remove all instances of the nightly package (now deprecated)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/nightly.yml
  CHANGELOG.md
  README-nightly.md
  epispot/__init__.py
  requirements/README.md
  setup-nightly.py
  tests/README.md
Labels: tests, src, repo

Third batch update Fix remaining files, prepare for code refactorings
  .coveragerc
  .github/pull_request_template.md
  .github/workflows/python-publish.yml
  .gitignore
  bin/bcolors.py
  bin/epispot
  epispot/__init__.py
  epispot/plots/__init__.py
  explorables/testing-examples/README.md
  explorables/tutorials/basic-sir-model.md
  release.py
  setup.cfg
  setup.py
Labels: src, repo, pull request

Make expected v3 updates
  epispot/models.py
Labels: src

Remove deprecated `fitters` module
  epispot/__init__.py
  epispot/fitters.py
  tests/test_x.py
Labels: tests, src

Delete codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: none

Basic package refactorings
  epispot/params.py
  epispot/plots/__init__.py
Labels: src

Add estimates subpackage, refactor `__init__.py`
  epispot/__init__.py
  epispot/estimates/__init__.py
  epispot/estimates/data.py
  epispot/estimates/getters.py
  epispot/estimates/storage.py
  epispot/estimates/utils.py
Labels: src

Create temporary TODOS.md
  TODOS.md
Labels: none

Update estimates package docs
  README.md
  epispot/estimates/__init__.py
  epispot/estimates/data.py
  epispot/estimates/getters.py
  epispot/estimates/storage.py
  epispot/params.py
Labels: src

Fix bugs in new code
  epispot/estimates/utils.py
  epispot/params.py
Labels: src

Update __init__.py
  epispot/__init__.py
Labels: src

Update testing suite
  tests/test_advanced.py
  tests/test_sir_variants.py
  tests/test_x.py
Labels: tests

Create test_estimates.py
  tests/test_estimates.py
Labels: tests

Update todos
  TODOS.md
Labels: none

Remove coverage on query error
  epispot/estimates/getters.py
Labels: none

Allow passing kwargs to integrate through plots
  epispot/plots/native.py
  epispot/plots/web.py
Labels: none

Normalize comment casing in tests
  tests/test_estimates.py
Labels: tests

Update todos
  TODOS.md
Labels: none

Properly pass `**kwargs` in distributions
  epispot/estimates/data.py
  epispot/estimates/utils.py
  epispot/params.py
Labels: src

Update estimates test to use `assert`
  tests/test_estimates.py
Labels: tests

Update todos
  TODOS.md
Labels: none

Fix failing tests
  tests/test_advanced.py
Labels: tests

Allow saving/loading models from file
  .gitignore
  epispot/__init__.py
  epispot/models.py
  setup.py
  tests/test_io.py
Labels: tests, src

Update requirements files to include `dill`
  requirements/requirements-dev.txt
  requirements/requirements-nightly.txt
  requirements/requirements.txt
Labels: none

Update test_io.py
  tests/test_io.py
Labels: tests

Delete explorables/
  explorables/README.md
  explorables/examples/compare-function.png
  explorables/examples/line-graph.png
  explorables/models/basic-sir-model.py
  explorables/models/diamond-princess.csv
  explorables/models/env-test.py
  explorables/models/fitting-test.py
  explorables/models/seihrd-model-test.py
  explorables/models/seir-model-test.py
  explorables/models/seird-model-test.py
  explorables/models/sf-cases.csv
  explorables/models/sf-total-cases.csv
  explorables/testing-examples/README.md
  explorables/testing-examples/critical.py
  explorables/testing-examples/data/fit.csv
  explorables/testing-examples/fit.py
  explorables/testing-examples/recurrent.py
  explorables/testing-examples/seir.py
  explorables/testing-examples/sihrd.py
  explorables/testing-examples/sir.py
  explorables/testing-examples/sird.py
  explorables/testing-examples/tree.py
  explorables/tutorials/basic-sir-model.md
  explorables/tutorials/epi-spot layer combinations.png
Labels: none

Update README
  README.md
  assets/demo.png
Labels: src

Recognize current build as official
  epispot/__init__.py
Labels: src

Eliminate unnecessary `delta` parameter
  epispot/models.py
  epispot/plots/native.py
  epispot/plots/web.py
Labels: src

Fix tests
  tests/test_advanced.py
  tests/test_estimates.py
  tests/test_io.py
  tests/test_sir_variants.py
Labels: tests

Delete TODOS.md
  TODOS.md
Labels: none

Enforce standard documentation style
  DOCUMENTATION.md
  epispot/comps.py
  epispot/estimates/__init__.py
  epispot/estimates/data.py
  epispot/estimates/getters.py
  epispot/estimates/storage.py
  epispot/estimates/utils.py
  epispot/models.py
  epispot/params.py
  epispot/plots/__init__.py
  epispot/plots/native.py
  epispot/plots/web.py
  epispot/pre.py
Labels: src

Update requirements-dev.txt
  requirements/requirements-dev.txt
Labels: none

Optimize imports
  epispot/__init__.py
  epispot/comps.py
  epispot/estimates/__init__.py
  epispot/estimates/data.py
  epispot/estimates/utils.py
  epispot/models.py
  epispot/plots/__init__.py
  epispot/plots/native.py
  epispot/pre.py
  tests/test_advanced.py
  tests/test_estimates.py
  tests/test_io.py
  tests/test_plotting.py
  tests/test_sir_variants.py
  tests/test_x.py
Labels: tests, src

Trim whitespace
  .codecov.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/dependabot.yml
  .github/workflows/docs.yml
  DOCUMENTATION.md
  README.md
  epispot/__init__.py
  epispot/comps.py
  epispot/estimates/data.py
  epispot/estimates/getters.py
  epispot/estimates/storage.py
  epispot/estimates/utils.py
  epispot/models.py
  epispot/params.py
  epispot/plots/__init__.py
  epispot/plots/native.py
  epispot/plots/web.py
  epispot/pre.py
  lgtm.yml
  pyproject.toml
  setup.cfg
  setup.py
  tests/test_advanced.py
  tests/test_estimates.py
  tests/test_io.py
  tests/test_plotting.py
  tests/test_sir_variants.py
  tests/test_x.py
Labels: tests, src, repo

Add flake8 config
  setup.cfg
Labels: none

Apply whitespace change from isort
  epispot/estimates/data.py
Labels: none
