Repository epispot/epispot-transition-v3, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, src, repo, workflows, issue templates, pull request

Batch `autopep8` update
  epispot/__init__.py
  epispot/comps.py
  epispot/estimates/utils.py
  epispot/models.py
  epispot/params.py
  epispot/plots/native.py
  epispot/plots/web.py
  setup.cfg
  tests/test_plotting.py
  tests/test_sir_variants.py
Labels: tests, src

Reformat `if` statements
  epispot/comps.py
  epispot/models.py
Labels: src

Stop forced logical indentation
  setup.cfg
Labels: none

Cut all code to 79 chars and disable E501
  epispot/plots/__init__.py
  setup.cfg
Labels: none

Enforce code style (PEP8)
  epispot/__init__.py
  epispot/comps.py
  epispot/estimates/data.py
  epispot/estimates/utils.py
  epispot/params.py
  epispot/plots/__init__.py
  epispot/plots/native.py
  epispot/plots/web.py
  epispot/pre.py
  tests/test_advanced.py
  tests/test_estimates.py
  tests/test_io.py
  tests/test_plotting.py
  tests/test_sir_variants.py
Labels: tests, src

Fix critical refactoring error
  epispot/comps.py
Labels: src

Change master→main
  .github/workflows/docs.yml
Labels: none

Create style.yml
  .github/workflows/style.yml
Labels: none

Temporarily disable docs workflow
  .github/workflows/docs.yml
Labels: none

Fix bug in style workflow
  .github/workflows/style.yml
Labels: none

Remove incorrect syntax in docs workflow
  .github/workflows/docs.yml
Labels: none

Refactor docstrings in the `utils` module
  epispot/estimates/getters.py
  epispot/estimates/utils.py
Labels: none

Add `analysis` subpackage
  epispot/__init__.py
  epispot/analysis/__init__.py
  epispot/analysis/normalize.py
  epispot/analysis/predict.py
Labels: src

[auto] Fix code style
  epispot/__init__.py
  epispot/analysis/predict.py
Labels: src

Complete analysis/normalize.py
  epispot/analysis/normalize.py
Labels: none

Fix E203
  epispot/analysis/normalize.py
Labels: none

[auto] Fix code style
  epispot/analysis/normalize.py
Labels: none

Change workflow commit style
  .github/workflows/docs.yml
  .github/workflows/style.yml
Labels: none

.github/labeler.yml:

tests:
  - tests/*

src:
  - epispot/*
  - bin/*
  - setup.py
  - README.md

repo:
  - .github/*

workflows:
  - .github/workflows
  - .github/labeler.yml

issue templates:
  - .github/ISSUE_TEMPLATES/*

pull request:
  - .github/pull_request_template.md
