Repository epispot/epispot-transition-v3, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, src, repo, workflows, templates, doc, dep, dot

.github/labeler.yml:

tests:
  - tests/*

src:
  - epispot/*
  - bin/*

repo:
  - .github/*

workflows:
  - .github/workflows
  - .github/*.yml
  - scripts/*

templates:
  - .github/ISSUE_TEMPLATE/*
  - .github/PULL_REQUEST_TEMPLATE/*
  - .github/pull_request_template/*

doc:
  - assets/*
  - ./*.md
  - LICENSE

dep:
  - requirements/*
  - requirements.txt

dot:
  - .codecov.yml
  - .coveragerc
  - .deepsource.toml
  - .gitignore
  - .zenodo.json
  - lgtm.yml
  - pyproject.toml
  - setup.cfg
  - setup.py

Remove `fire` from requirements
  requirements/requirements-dev.txt
  requirements/requirements-nightly.txt
Labels: dep

Remove `explorables/*` directory from dotfiles
  .deepsource.toml
  lgtm.yml
Labels: dot

Remove incorrect Python 3.7 tag from setup files
  setup.cfg
  setup.py
Labels: dot

Bump version
  CHANGELOG.md
  epispot/__init__.py
  epispot/analysis/predict.py
  setup.py
Labels: src, doc, dot

Update README.md
  README.md
Labels: doc
